[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid dodgerblue;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
    margin: 0 0 10px 0;
  }

.col-1 {width: 7.416%;}
.col-2 {width: 15.83%;}
.col-3 {width: 24.25%;}
.col-4 {width: 32.66%;}
.col-5 {width: 41.08%;}
.col-6 {width: 49.5%;}
.col-7 {width: 57.91%;}
.col-8 {width: 66.33%;}
.col-9 {width: 74.75%;}
.col-10 {width: 83.16%;}
.col-11 {width: 91.58%;}
.col-12 {width: 100%;}


@media only screen and (min-width : 500px) {

    .col-1 {width: 7.416% - 10%;}
    .col-2 {width: 15.83% - 11%;}
    .col-3 {width: 24.25% - 12%;}
    .col-4 {width: 32.66% - 13%;}
    .col-5 {width: 41.08% - 14%;}
    .col-6 {width: 49.5% - 15%;}
    .col-7 {width: 57.91% - 16%;}
    .col-8 {width: 66.33% - 17%;}
    .col-9 {width: 74.75% - 18%;}
    .col-10 {width: 83.16% - 19%;}
    .col-11 {width: 91.58% - 20%;}
    .col-12 {width: 100% - 21%;}

}