html, body{
    margin: 0;
    padding: 0;
}

.companies img {
    width: 100%;
}

#menu-mobile{
    display: block;
    background-color: red;
}
header nav{
    display: none;
    background-color: blueviolet;
    position: absolute;
}
@media screen and (min-width: 640px) {
    #menu-mobile{
        display: none;
    }
    header nav{
        display: block !important;
        position: static;
    }
}
