html, body{
    margin: 0;
    padding: 0;
}



#mobile-hamburger{
    display: block;
    background-color: red;
}
nav{
    display: none;
    background-color: blueviolet;
}
@media screen and (min-width: 640px) {
    #mobile-hamburger{
        display: none;
    }
    nav{
        display: block !important;
    }
}
